PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=canteen
JWT_SECRET=supersecretcanteenkey12345

# Easebuzz Payment Gateway Configuration
EASEBUZZ_KEY=PCG0NDPL0
EASEBUZZ_SALT=S4KSFDOFV
EASEBUZZ_ENV=test
